<div class="es-attendees">

  <div class="es-loading-title" ng-if="loading">
    Loading ...
  </div>

  <div class="col-md-offset-2 col-md-8" ng-if="session">

    <h1>{{session.title}} ({{session.attendees.length}})</h1>
    <h3 class="es-faded">
      Attendees List
    </h3>

    <div class="es-attendees-search">
      <input class="form-control input-lg" type="text" placeholder="Search attendee ..." ng-model="searchText"></input>
    </div>

    <div class="es-attendees-list">

        <div class="es-attendee pull-left" ng-repeat="attendee in (session.attendees | filter: searchText)">
          <div class="es-attendee-icon" gravatar email="attendee.email"></div>
          <div><h3>{{ attendee.name }}</h3></div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="es-footer-menu">
      <div class="btn btn-primary btn-lg" ng-click="goToOverview()">Back To Overview</div>
    </div>

  </div>



  <div ng-if="error">
    <h1 class="text-center">
      Session not found!
    </h1>
  </div>

</div>
