<div class="es-overview-panel" ng-controller="overviewController">

  <div class="es-loading-title" ng-if="loading">
    Loading ...
  </div>

  <div ng-if="!loading">

    <div class="row es-session" ng-repeat="session in sessions | orderBy:'date'">

      <div class="col-md-4 es-overview-left-column">
        <h2 class="es-faded">Going</h2>
        <div class="es-overview-going"> {{ session.attendees.length }}</div>
      </div>

      <div class="col-md-8 es-overview-right-column">
        <div class="es-overview-header">
          <h2 class="es-faded">Next session</h2>
          <h1>{{ session.title }}</h1>
          <h4>When: {{ session.date | date: 'dd.MM.yyyy HH:00' }}</h4>
          <div class="btn btn-primary btn-lg" ng-click="register(session.id)">Register</div>
          <div class="btn btn-primary btn-lg" ng-click="seeAttendeesList(session.id)">See Attendee List</div>
        </div>
      </div>

    </div>

  </div>

</div>
