<div class="es-register">

  <h3 class="es-faded">Register for</h3>
  <h1>AngularJS</h1>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="name" ng-model="attendee.name" placeholder="Enter your name ..."></input>
        </div>
        <div class="form-group">
          <input type="email" class="form-control input-lg" id="email" ng-model="attendee.email" placeholder="Your email ..."></input>
        </div>
        <div class="form-group text-danger">
          {{ error }}
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="es-footer-menu">
      <button type="button" class="btn btn-success btn-lg" ng-click="register()">Register</button>
      <button type="button" class="btn btn-primary btn-lg" ng-click="goToOverview()">Back To Overview</button>
    </div>
  </div>

</div>
