@import url(http://fonts.googleapis.com/css?family=Pacifico);


@Red: #c00;
@LogoColor: #306bac;
@TextColor:  darken(@LogoColor, 15%);
@BackgroundColor: #f2f2f2;
@BorderColor: #ddd;

BODY, HTML {
  background-color: @BackgroundColor;
  color: @TextColor;
}

.es-header {
  background-color: #fff;
  border-top: 3px solid @Red;
  border-bottom: 1px solid @BorderColor;
  width: 100%;
  padding:20px;

  .es-header-logo {
    background-image: url("/images/EastcodeSessionsLogo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 80px;

  }
}

.es-overview-panel {

  .es-session {
    padding-top:30px;
    padding-bottom:30px;
    border-bottom: 1px solid @BorderColor;
  }



  .es-overview-left-column {
    text-align: center;
  }

  .es-overview-going {

    @CircleWidth: 150px;

    width: @CircleWidth;
    height:@CircleWidth;
    line-height:@CircleWidth;
    margin:auto;
    font-size: 80px;
    font-weight:bold;
    background-color: @Red;
    color:#FFF;
    border-radius: 50%;
  }

}

.es-attendees {

  text-align: center;

  .es-attendees-search {
    padding:40px 40px 40px 40px;
  }

  .es-attendees-list {


    .es-attendee {
      position: relative;

      @AttendeeSize: 160px;

      width: @AttendeeSize;
      height: @AttendeeSize;
      text-align: center;
      padding: 10px;
      margin: 10px;
      background-color: #FFF;
      border-radius: @AttendeeSize/2;
      .es-attendee-icon {
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;

        IMG {
          width: 80px;
          height: 80px;
          border-radius: 40px;
        }
      }
      h3 {
        margin-top: 0px;
      }


      &:hover {
        cursor: pointer;
        color: @Red;
        .es-attendee-icon {
          .glyphicon {
            color: @Red;
          }
        }
      }
    }
  }
}

.es-register {
  text-align:center;
  h1 {
    padding-bottom:30px;
  }
}

.es-footer-menu {
  padding: 50px;
  text-align: center;
}

.es-footer {
  margin:50px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: @BorderColor;
}

.es-loading-title {
  font-size: 40px;
  padding-top:50px;
  text-align:center;
}

.es-faded {
  color: darken(@BackgroundColor, 20%);
}
